In [2]:
import numpy as np
import pandas as pd
from IPython.display import display
from PIL import ImageFilter, ImageStat, Image, ImageDraw

In [3]:
Data =\
np.load('/home/Kaggle_Cervical_Cancer_Screening/Rory/Dev-ipynb/resize_data/ALL_TRAIN_NOSEG_224.npy')

In [4]:
Data_10 =\
np.load('/home/Kaggle_Cervical_Cancer_Screening/Rory/Dev-ipynb/resize_data/ALL_TRAIN_SEGPA_10_224.npy')

In [5]:
Data_80 =\
np.load('/home/Kaggle_Cervical_Cancer_Screening/Rory/Dev-ipynb/resize_data/ALL_TRAIN_SEGPA_80_224.npy')

In [6]:
Data_120 =\
np.load('/home/Kaggle_Cervical_Cancer_Screening/Rory/Dev-ipynb/resize_data/ALL_TRAIN_SEGPA_120_224.npy')

In [7]:
train = pd.read_csv('/home/Kaggle_Cervical_Cancer_Screening/Rory/Dev-ipynb/resize_data/TRAIN.csv')

In [8]:
train

        type     image                                 path             size
0     Type_3   477.jpg   /home/dataset/train/Type_3/477.jpg  2 3 9 7 0 8 1 6
1     Type_3  1153.jpg  /home/dataset/train/Type_3/1153.jpg  2 3 9 7 0 8 1 6
2     Type_3   335.jpg   /home/dataset/train/Type_3/335.jpg  2 3 9 7 0 8 1 6
3     Type_3   324.jpg   /home/dataset/train/Type_3/324.jpg  2 3 9 7 0 8 1 6
4     Type_3    98.jpg    /home/dataset/train/Type_3/98.jpg  2 8 7 5 5 6 4 8
5     Type_3   170.jpg   /home/dataset/train/Type_3/170.jpg  2 3 9 7 0 8 1 6
6     Type_3  1350.jpg  /home/dataset/train/Type_3/1350.jpg  2 3 9 7 0 8 1 6
7     Type_3   163.jpg   /home/dataset/train/Type_3/163.jpg  2 3 9 7 0 8 1 6
8     Type_3   344.jpg   /home/dataset/train/Type_3/344.jpg  2 3 9 7 0 8 1 6
9     Type_3   801.jpg   /home/dataset/train/Type_3/801.jpg  2 3 9 7 0 8 1 6
10    Type_3   812.jpg   /home/dataset/train/Type_3/812.jpg  2 3 9 7 0 8 1 6
11    Type_3   628.jpg   /home/dataset/train/Type_3/628.jpg  3 8 3 4 0 8 6 4
12    Type_3  1459.jpg  /home/dataset/train/Type_3/1459.jpg  2 3 9 7 0 8 1 6
13    Type_3   258.jpg   /home/dataset/train/Type_3/258.jpg  2 3 9 7 0 8 1 6
14    Type_3   914.jpg   /home/dataset/train/Type_3/914.jpg  2 3 9 7 0 8 1 6
15    Type_3    69.jpg    /home/dataset/train/Type_3/69.jpg  3 8 3 4 0 8 6 4
16    Type_3    25.jpg    /home/dataset/train/Type_3/25.jpg  2 3 9 7 0 8 1 6
17    Type_3   309.jpg   /home/dataset/train/Type_3/309.jpg  3 8 3 4 0 8 6 4
18    Type_3  1470.jpg  /home/dataset/train/Type_3/1470.jpg  2 3 9 7 0 8 1 6
19    Type_3  1166.jpg  /home/dataset/train/Type_3/1166.jpg  2 3 9 7 0 8 1 6
20    Type_3  1157.jpg  /home/dataset/train/Type_3/1157.jpg  2 3 9 7 0 8 1 6
21    Type_3   287.jpg   /home/dataset/train/Type_3/287.jpg  2 3 9 7 0 8 1 6
22    Type_3   220.jpg   /home/dataset/train/Type_3/220.jpg  2 3 9 7 0 8 1 6
23    Type_3   146.jpg   /home/dataset/train/Type_3/146.jpg  3 8 3 4 0 8 6 4
24    Type_3  1208.jpg  /home/dataset/train/Type_3/1208.jpg  2 8 7 5 5 6 4 8
25    Type_3   494.jpg   /home/dataset/train/Type_3/494.jpg  2 3 9 7 0 8 1 6
26    Type_3   118.jpg   /home/dataset/train/Type_3/118.jpg  2 3 9 7 0 8 1 6
27    Type_3   941.jpg   /home/dataset/train/Type_3/941.jpg  2 3 9 7 0 8 1 6
28    Type_3  1244.jpg  /home/dataset/train/Type_3/1244.jpg  2 3 9 7 0 8 1 6
29    Type_3  1052.jpg  /home/dataset/train/Type_3/1052.jpg  2 3 9 7 0 8 1 6
...      ...       ...                                  ...              ...
8182  Type_2   414.jpg         /home/dataset/Type_2/414.jpg  3 8 3 4 0 8 6 4
8183  Type_2  6479.jpg        /home/dataset/Type_2/6479.jpg  2 3 9 7 0 8 1 6
8184  Type_2  2500.jpg        /home/dataset/Type_2/2500.jpg  3 8 3 4 0 8 6 4
8185  Type_2  2405.jpg        /home/dataset/Type_2/2405.jpg  3 8 3 4 0 8 6 4
8186  Type_2  1062.jpg        /home/dataset/Type_2/1062.jpg  3 8 3 4 0 8 6 4
8187  Type_2  1715.jpg        /home/dataset/Type_2/1715.jpg  3 8 3 4 0 8 6 4
8188  Type_2  3971.jpg        /home/dataset/Type_2/3971.jpg  2 3 9 7 0 8 1 6
8189  Type_2  3532.jpg        /home/dataset/Type_2/3532.jpg  3 8 3 4 0 8 6 4
8190  Type_2     0.jpg           /home/dataset/Type_2/0.jpg  3 8 3 4 0 8 6 4
8191  Type_2   395.jpg         /home/dataset/Type_2/395.jpg  2 3 9 7 0 8 1 6
8192  Type_2   245.jpg         /home/dataset/Type_2/245.jpg  3 8 3 4 0 8 6 4
8193  Type_2  2165.jpg        /home/dataset/Type_2/2165.jpg  3 8 9 3 7 6 0 0
8194  Type_2  2796.jpg        /home/dataset/Type_2/2796.jpg  3 8 3 4 0 8 6 4
8195  Type_2  4362.jpg        /home/dataset/Type_2/4362.jpg  2 3 9 7 0 8 1 6
8196  Type_2  5130.jpg        /home/dataset/Type_2/5130.jpg  2 3 9 7 0 8 1 6
8197  Type_2  3234.jpg        /home/dataset/Type_2/3234.jpg  3 8 3 4 0 8 6 4
8198  Type_2    50.jpg          /home/dataset/Type_2/50.jpg  2 3 9 7 0 8 1 6
8199  Type_2  6879.jpg        /home/dataset/Type_2/6879.jpg  3 8 3 4 0 8 6 4
8200  Type_2  1029.jpg        /home/dataset/Type_2/1029.jpg  3 8 3 4 0 8 6 4
8201  Type_2  5223.jpg        /home/dataset/Type_2/5223.jpg  2 3 9 7 0 8 1 6
8202  Type_2  4940.jpg        /home/dataset/Type_2/4940.jpg  2 8 7 5 5 6 4 8
8203  Type_2  4863.jpg        /home/dataset/Type_2/4863.jpg  2 3 9 7 0 8 1 6
8204  Type_2  6803.jpg        /home/dataset/Type_2/6803.jpg  3 8 3 4 0 8 6 4
8205  Type_2  1905.jpg        /home/dataset/Type_2/1905.jpg  3 8 3 4 0 8 6 4
8206  Type_2  1144.jpg        /home/dataset/Type_2/1144.jpg  3 8 9 3 7 6 0 0
8207  Type_2  6124.jpg        /home/dataset/Type_2/6124.jpg  2 3 9 7 0 8 1 6
8208  Type_2   521.jpg         /home/dataset/Type_2/521.jpg  3 8 3 4 0 8 6 4
8209  Type_2  5214.jpg        /home/dataset/Type_2/5214.jpg  2 3 9 7 0 8 1 6
8210  Type_2  2027.jpg        /home/dataset/Type_2/2027.jpg  3 8 3 4 0 8 6 4
8211  Type_2  3594.jpg        /home/dataset/Type_2/3594.jpg  3 8 3 4 0 8 6 4

[8212 rows x 4 columns]

In [9]:
Data.shape

(8212, 224, 224, 3)

In [10]:
dim = 224
def showX(X, dim):
    int_X = X
    int_X_reshape = int_X.reshape(-1,dim,dim,3).swapaxes(0,1).reshape(dim,-1,3)
    display(Image.fromarray(int_X_reshape))

In [19]:
import numpy as np
arr = np.array([234, 235, 23, 6, 3, 6, 23])
elim = [3, 5, 6]
np.delete(arr, elim)

array([234, 235,  23,   3])

In [26]:
Data.shape

(8212, 224, 224, 3)

In [27]:
Data_1 = np.delete(Data, clean_index, 0)

In [28]:
Data_1.shape

(7507, 224, 224, 3)

In [17]:
clean_index = [7,14,17,22,23,\
               32,38,43,45,46,\
               48,49,52,59,63,\
               66,71,73,74,82,\
               91,97,99,109,122,\
               124,125,126,132,141,\
               143,153,154,162,171,\
               176,181,183,192,193,\
               201,206,217,218,226,\
               234,235,237,247,251,\
               270,271,286,292,294,\
               301,311,314,325,338,\
               347,355,359,361,367,\
               374,376,385,391,394,\
               412,434,460,493,498,\
               503,506,530,542,545,\
               546,564,572,573,595,\
               601,604,617,631,649,\
               652,659,704,705,711,\
               711,713,750,792,814,\
               842,871,882,890,908,\
               910,912,933,946,961,\
               963,975,978,987,1008,\
               1024,1033,1034,1035,1065,\
               1075,1077,1080,1082,1100,\
               1104,1121,1131,1133,1140,\
               1143,1152,1164,1167,1175,\
               1177,1190,1200,1205,1206,\
               1231,1240,1252,1254,1255,\
               1258,1264,1275,1295,1331,\
               1336,1347,1350,1352,1364,\
               1382,1386,1387,1416,1462,\
               1480,1482,1491,1498,1507,\
               1513,1514,1516,1518,1520,\
               1521,1525,1531,1534,1537,\
               1547,1549,1552,1558,1561,\
               1563,1576,1585,1587,1616,\
               1617,1639,1645,1652,1668,\
               1701,1705,1722,1732,1735,\
               1737,1756,1784,1792,1797,\
               1799,1807,1812,1823,1834,\
               1840,1843,1849,1850,1858,\
               1859,1864,1870,1877,1898,\
               1899,1900,1901,1902,1903,\
               1904,1919,1928,1931,1933,\
               1941,1951,1952,1962,1964,\
               1969,1971,1972,1974,1975,\
               1979,1990,1994,1996,1998,\
               2004,2022,2024,2029,2037,\
               2040,2041,2063,2069,2073,\
               2081,2103,2136,2143,2144,\
               2145,2147,2154,2157,2183,\
               2184,2189,2196,2203,2204,\
               2208,2218,2236,2240,2244,\
               2263,2267,2272,2301,2315,\
               2321,2327,2337,2247,2357,\
               2374,2376,2381,2384,2397,\
               2425,2435,2461,2465,2466,\
               2482,2489,2525,2532,2594,\
               2604,2612,2628,2629,2630,\
               2634,2641,2645,2646,2661,\
               2669,2672,2675,2676,2690,\
               2691,2713,2737,2738,2741,\
               2744,2748,2749,2751,2758,\
               2760,2765,2784,2795,2812,\
               2814,2832,2847,2859,2864,\
               2884,2887,2893,2897,2906,\
               2909,2949,2968,2979,3000,\
               3002,3033,3034,3036,3048,\
               3084,3087,3095,3128,3132,\
               3167,3195,3203,3220,3221,\
               3233,3236,3237,3243,3249,\
               3266,3276,3275,3285,3295,\
               3317,3321,3341,3365,3381,\
               3393,3408,3410,3411,3417,\
               3446,3448,3450,3503,3504,\
               3513,3587,3607,3608,3652,\
               3667,3698,3741,3749,3757,\
               3778,3789,3809,3810,3815,\
               3833,3835,3871,3903,3912,\
               3913,3958,3965,4036,4037,\
               4080,4101,4114,4212,4218,\
               4249,4269,4281,4289,4295,\
               4299,4341,4375,4393,4397,\
               4416,4417,4425,4443,4447,\
               4459,4475,4481,4493,4509,\
               4550,4554,4555,4573,4574,\
               4577,4595,4609,4620,4627,\
               4630,4666,4667,4680,4702,\
               4785,4802,4804,4814,4846,\
               4875,4911,4991,5000,5014,\
               5017,5019,5048,5051,5059,\
               5083,5146,5167,5158,5193,\
               5195,5205,5241,5243,5255,\
               5256,5320,5327,5356,5383,\
               5400,5411,5418,5425,5487,\
               5489,5506,5518,5532,5538,\
               5543,5551,5592,5595,5606,\
               5607,5626,5627,5635,5636,\
               5645,5650,5671,5756,5760,\
               5767,5771,5772,5775,5778,\
               5779,5782,5783,5829,5843,\
               5859,5860,5863,5869,5875,\
               5881,5947,5964,6052,6085,\
               6101,6111,6117,6120,6130,\
               6132,6153,6155,6156,6165,\
               6181,6182,6212,6241,6283,\
               6294,6295,6312,6360,6365,\
               6493,6404,6414,6444,6459,\
               6462,6475,6478,6498,6519,\
               6527,6530,6585,6593,6594,\
               6621,6665,6668,6689,6700,\
               6715,6718,6726,6734,6736,\
               6747,6749,6759,6834,6889,\
               6895,6901,6904,6905,6908,\
               6918,6949,6956,7011,7110,\
               7127,7131,7151,7152,7166,\
               7170,7218,7223,7227,7241,\
               7245,7263,7264,7269,7272,\
               7301,7346,7349,7351,7376,\
               7377,7440,7516,7556,7581,\
               7582,7605,7617,7620,7628,\
               7642,7648,7651,7681,7689,\
               7690,7691,7702,7732,7737,\
               7752,7757,7758,7761,7764,\
               7770,7775,7778,7791,7810,\
               7812,7826,7830,7836,7844,\
               7849,7853,7855,7865,7872,\
               7885,7889,7900,7901,7904,\
               7916,7919,7920,7923,7925,\
               7929,7931,7934,7935,7936,\
               7938,7939,7940,7941,7949,\
               7950,7951,7953,7962,7971,\
               7974,7976,7982,7983,7984,\
               7994,8003,8006,8012,8013,\
               8025,8032,8041,8042,8045,\
               8046,8047,8049,8051,8053,\
               8055,8059,8060,8061,8062,\
               8065,8070,8071,8083,8093,\
               8095,8096,8104,8109,8128,\
               8154,8165,8171,8194,8198,\
               8211]

In [16]:
# for i in range(8200,8400,5):
#     print(train["type"][i:i+5])
#     showX(Data[i:i+5], dim)
#     showX(Data_10[i:i+5], dim)
#     showX(Data_80[i:i+5], dim)
#     showX(Data_120[i:i+5], dim)